* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 30% 30% 30%;
  gap: 5px;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
}

.margin {
  margin: 10px;
}
